<ion-header>
  <ion-navbar class="userdetails_bg" transparent>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="cards-bg social-cards">

    <div class="bg padding">
      <ion-avatar item-start >
        <img *ngIf="user?.address_type == 'Ms.' " src="assets/images/Amy_Jones.jpg">
        <img *ngIf="user?.address_type == 'Mr.' " src="assets/images/James_King.jpg">
      </ion-avatar>
      <h2>{{user?.address_type}}{{user?.name}}</h2>
      <!-- <p>Member Type: {{user?.member_type}}</p> -->
    </div>
    <ion-list>
      <ion-item>
        <ion-icon ios="ios-pin" md="md-pin" item-left></ion-icon>
          <p *ngIf="user?.address_one">{{user?.address_one}},</p>
          <p *ngIf="user?.address_two">{{user?.address_two}},</p>
          <p *ngIf="user?.address_three">{{user?.address_three}}</p>
          <p *ngIf="user?.area">{{user?.area}}</p>
          <p *ngIf="user?.city">{{user?.city}}-{{user?.pincode}}</p>
      </ion-item>
      <ion-item>
        <ion-icon class="text_color" ios="ios-call" md="md-call" item-left></ion-icon>
          <p>{{user?.mobile_one}}</p>
      </ion-item>
      <ion-item *ngIf="user?.email">
        <ion-icon ios="ios-mail" md="md-mail" item-left></ion-icon>
        <p>{{user?.email}}</p>
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-briefcase" md="md-briefcase" item-left></ion-icon>
        <p>Membership Type: {{user?.member_type}}</p>
      </ion-item>
    </ion-list>
    <ion-fab bottom right >
  <button ion-fab>Share</button>
  <ion-fab-list side="top">
    <button ion-fab (click)="sharepresentToast()">  <ion-icon name="logo-whatsapp"></ion-icon></button>
    <button ion-fab (click)="sharepresentToast()"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab (click)="sharepresentToast()"><ion-icon name="logo-twitter"></ion-icon>
</button>
  </ion-fab-list>
</ion-fab>
</ion-content>
