<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619060539374-bpunvu4di8gie0ripfna7i3akude3i6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619060539374-bpunvu4di8gie0ripfna7i3akude3i6i</string>
	<key>API_KEY</key>
	<string>AIzaSyCK-rUZCupOUOT0Fp_azKBz9BaNrHExS-o</string>
	<key>GCM_SENDER_ID</key>
	<string>619060539374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.githubionic709948</string>
	<key>PROJECT_ID</key>
	<string>sindhi-c534e</string>
	<key>STORAGE_BUCKET</key>
	<string>sindhi-c534e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619060539374:ios:e1780895139d7d3a</string>
	<key>DATABASE_URL</key>
	<string>https://sindhi-c534e.firebaseio.com</string>
</dict>
</plist>